.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  width: 100%;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.sidenav {
  width: 35vw;
}

.h-100 {
  height: 100%;
}

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
  a {
    color: white;
  }
}
