.sidenav-container {
  z-index: 999;

  .logo {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .sidenav {
    width: 35vw;
  }
}

.no-highlight:focus {
  outline: none;
}

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
  a {
    color: white;
  }
}
