<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar color="primary" class="flex flex-center">
      <app-weirwood-logo class="h-100"></app-weirwood-logo>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item color="primary" routerLink="/" (click)="drawer.close()"
        >Home</a
      >

      <!-- <a mat-list-item routerLink="/tickers" (click)="drawer.close()"
        >Tickers</a
      >
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a> -->
      <a mat-list-item routerLink="/products" (click)="drawer.close()"
        >Products</a
      >
      <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>

      <a mat-list-item routerLink="/contact" (click)="drawer.close()"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="flex flex-between" color="primary">
      <button
        type="button"
        aria-label="Toogle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span
        class="logo h-100"
        routerLink="/"
        *ngIf="(isHandset$ | async) === false"
        ><app-weirwood-logo>Weirwood</app-weirwood-logo></span
      >

      <div *ngIf="(isHandset$ | async) === false">
        <mat-nav-list class="list-horizontal">
          <!-- <a mat-list-item routerLink="/tickers">Tickers</a>
          <a mat-list-item routerLink="/login">Login</a> -->
          <a mat-list-item routerLink="/products">Products</a>
          <a mat-list-item routerLink="/about">About</a>
          <a mat-list-item routerLink="/contact">Contact</a>
        </mat-nav-list>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
