$footer-height: 5vh;

.wrapper {
  min-height: 100vh;
  position: relative;

  .content {
    padding-bottom: $footer-height;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
  }
}
