$footer-height: 4vh;

.wrapper {
  position: relative;
  min-height: 100vh;

  .content {
    padding-bottom: $footer-height;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
  }
}
