$footer-height: 5vh;

.wrapper {
  min-height: 100vh;
  position: relative;

  .section {
    padding-bottom: $footer-height;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  width: 100%;
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
