:host {
  width: 100%;
}

.payment {
  width: 450px;
  text-align: center;
  margin: auto;
}

button {
  margin: 2rem auto;
}
.weirwood-logo-card {
  background-image: url('../../../../weirwood.svg');
  background-size: cover;
  border-radius: 100%;
  background-color: cornflowerblue;
}

mat-form-field {
  width: 100%;
}
