<mat-card class="payment">
  <mat-card-header>
    <div mat-card-avatar class="weirwood-logo-card"></div>
    <mat-card-title>Get full access</mat-card-title>
    <mat-card-subtitle>Do your own analysis</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form matForm [formGroup]="stripeForm">
      <mat-form-field appearance="outline">
        <mat-label>Cardholder name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-icon matSuffix color="primary">face</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-icon matSuffix color="primary">alternate_email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" />
        <mat-icon matSuffix color="primary">euro_symbol</mat-icon>
      </mat-form-field>

      <ngx-stripe-card
        [options]="cardOptions"
        [elementsOptions]="elementsOptions"
      ></ngx-stripe-card>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      [disabled]="stripeForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="pay()"
    >
      Get full access! 🥳
    </button>
  </mat-card-actions>
</mat-card>
