@import '../../../styles.scss';

.video-bg {
  position: relative;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include use-all-surface();
  }

  &-movie {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include use-all-surface();

    video,
    img {
      object-fit: cover;
      @include use-all-surface();
    }
  }
}
