<div class="filing-list">
  <table
    *ngIf="displayedColumns.length > 0"
    mat-table
    [dataSource]="filings"
    class="mat-elevation-z8"
  >
    <ng-container *ngFor="let col of displayedColumns">
      <ng-container [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
        <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
