:host {
  flex: 1 1 0;
}

.product {
  cursor: pointer;
  text-align: center;
  margin: 2rem;
  padding: 5rem 0;
  border-radius: 0.8rem;
  transition: 0.2s all ease-in-out;
  border: 2px solid #aaa;

  h1 {
    transition: 0.2s all ease-in-out;
    font-size: 2rem;
  }

  p {
    margin: 0 auto;
    max-width: 45ch;
  }

  &:hover {
    background-color: #ddd;
    border-color: white;
    h1 {
      font-size: 2.2rem;
    }
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: 992px) {
  :host {
    flex: 1 0 100%;
  }

  .product {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: auto;
    h1 {
      font-size: 1.75rem;
    }
    p {
      max-width: 40ch;
    }
  }
}
