@import '../../../styles.scss';

$height: 100vh;

.video-bg {
  height: $height;
  position: relative;
  line-height: $height;
  background: url('https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
    0% 0% / cover no-repeat;

  &-content {
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include use-all-surface();
  }
  &-movie {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include use-all-surface();

    video {
      object-fit: cover;
      @include use-all-surface();
    }
  }
}
