<section class="weirwood">
  <h1>Weirwood</h1>
  <p>ML powered Financial Services</p>
</section>

<section class="products flex flex-space-around flex-wrap flex-stretch">
  <app-weirwood-product
    title="FinTen"
    description="Annual and quarterly financial statement data extracted from exhibits to corporate financial reports in EDGAR"
    link="/filings"
  ></app-weirwood-product>
  <app-weirwood-product
    title="Jarvis"
    description="AI powered portfolio generator"
    link="/jarvis"
  ></app-weirwood-product>
</section>
