@import '../../../styles.scss';

.get-tickers {
  text-align: center;
  position: relative;

  .spinner {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.ticker-selection {
  .tickers-list {
    flex: 3 1 0;
    border: 2px dashed dodgerblue;
  }

  .selected-ticker {
    flex: 1 1 0;
    padding: 1.62rem;
    font-size: 1.6rem;
    text-align: center;
  }
}

td {
  text-align: center;
}
