.get-tickers {
  text-align: center;
  position: relative;
  margin: 2rem;

  .show-tickers {
    color: white;
  }

  .spinner {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.financial-data {
  width: 100vw;
  .ticker-selection {
    width: 25%;
    padding: 0.8rem;

    .selected-ticker {
      padding: 1.62rem;
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .filings {
    width: 72%;
  }
}

@media (max-width: 992px) {
  .data {
    flex-direction: column;

    width: 100vw;
    .ticker-selection {
      width: 100%;
      padding: 0.8rem;

      .selected-ticker {
        padding: 1.62rem;
        font-size: 1.6rem;
        text-align: center;
      }
    }

    .filings {
      width: 100%;
    }
  }
}
