<div class="flex flex-center get-tickers">
  <button
    class="show-tickers"
    #showTickers
    mat-button
    mat-raised-button
    color="accent"
    (click)="getTickers()"
  >
    Show tickers
  </button>
  <mat-spinner
    class="hidden spinner"
    diameter="20"
    [ngClass]="loading ? 'visible' : ''"
  ></mat-spinner>
</div>

<div class="data flex">
  <div class="ticker-selection">
    <p class="selected-ticker">Selected: {{ selectedTicker }}</p>
    <app-tickers-list
      class="tickers-list"
      (selectedTicker)="setSelectedTicker($event)"
    ></app-tickers-list>
  </div>

  <div class="filings">
    <div class="center flex flex-center" *ngIf="loadingFilings">
      <mat-spinner></mat-spinner>
    </div>
    <p *ngIf="unsuccessfulRequest !== null">{{ unsuccessfulRequest }}</p>
    <app-filing-list></app-filing-list>
  </div>
</div>
