.get-tickers {
  text-align: center;
  position: relative;
  margin: 2rem;

  .show-tickers {
    color: white;
  }

  .spinner {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.financial-data {
  max-height: 100vh;
  padding: 0.8rem;

  .ticker-selection {
    flex: 1 1 250px;

    .selected-ticker {
      padding: 2rem 0;
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .filings {
    flex: 3 1 600px;
    margin: 1vh 1vw;
    overflow: scroll;
  }
}

@media (max-width: 992px) {
  .financial-data {
    flex-flow: wrap;
    max-height: none;

    .filings {
      max-height: 100vh;
    }
  }
}
